#authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#authForm input {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

#authForm button {
    width: 100%;
    max-width: 300px;
}

#switchText {
    margin-top: 20px;
}

#switchBtn {
    color: #007bff;
    text-decoration: none;
}

#switchBtn:hover {
    text-decoration: underline;
}